.center_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-container {
    width: 500px;
    text-align: center;
    background-color: rgba(234, 111, 111, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
  }
  
  .input-group {
    margin-bottom: 25px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-group input {
    width: 400px;
    padding: 15px;
  }
  
  .reset-password-button {
    width: 70%;
    padding: 8px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .additional-info {
    margin-top: 10px;
  }
  
  .additional-info p {
    margin-bottom: 10px;
  }
  
  .login-button,
  .signup-button,
  .reset-password-button {
    background-color: #9fe7f2;
    border: none;
    color: #070505;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .login-button:hover,
  .signup-button:hover,
  .reset-password-button:hover {
    box-shadow: 0 0 10px #c43319, 0 0 20px #f35034, 0 0 30px #f35034;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    z-index: -1;
  }
  